@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

*{
  margin: 0; 
  padding: 0;
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}


body{
  background: #61575d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.quiz-body{
  padding: 50px;
  background: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

h1{
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  margin-bottom: 25px;
}

.intro-para{
  text-align: center;
  margin-bottom: 25px;
}

.hide{
  display: none;
}

.startQuiz{
  width: 100%;
  padding: 10px;
  color: #fff;
  border: 0px;
  font-size: 1em;
  background: #a52a2a;
}

.question-area{
  width: 100%;
  text-align: center;
}

.question{
  margin-bottom: 25px;
  text-align: center;
} 

.progress{
  margin-top: 25px;
  text-align: center;
}

.answers{
  display: flex;
  flex-wrap: wrap;
}

.question-area button{
  background: #a03f3f;
  border:0;
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  width: 40%;
  font-size: 1em;
}

.question-area button:hover{
  background: #23233f;
  color:#fff;
}
